{% extends 'gentelella/base.html' %}

{% load staticfiles %}

{% block page-content %}

<!-- page content -->
<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Password Changed!</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
              <a class="btn btn-success" href="{% url 'password_change' %}">Back to Profile</a>
              <a class="btn btn-success" href="{% url 'dashboard' %}"></i>Back to Dashboard</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

{% endblock page-content %}
